
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'footer';

html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  padding-bottom: 98px;
}

.col-centered {
  margin: auto;
  float: none;
}

.container {
  margin-top: 50px;
}

.card-text {
  max-height: 240px;
  overflow: hidden;
}