html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: 98px;
}

.col-centered {
    margin: auto;
    float: none;
}

.container {
    margin-top: 50px;
}

.card-text {
    max-height: 240px;
    overflow: hidden;
}

div.campaigns {
    margin-top: 48px;

    div.card-container {
        margin-bottom: 20px;
    }
}

div.btn-group {
    margin-top: 24px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 0 24px;

    p {
        line-height: 50px;

        &:first-of-type {
            float: left;
        }
        &:last-of-type {
            float: right;
        }
    }
}